body {
    margin: 25px;
    background-color: rgb(91, 7, 32);
    font-family: arial, sans-serif;
    font-size: 14px;
}

.title {
    font-size: 50px;
    text-align: center;
}

.rockPaperScissor {
   display: flex; 
   flex-direction: row;
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
   gap: 50%;
}

.rockPaperScissor div {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    text-align: center;
}