body {
    margin: 25px;
    background-color: #F6F9FA;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.title {
    font-size: 50px;
    text-align: center;
}

.rockPaperScissor {
   display: flex; 
   flex-direction: row;
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
   gap: 30%;
}

.rockPaperScissor div {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    text-align: center;
}

img {
    height: 200px;
    transform: rotate(-90deg);
}

button { /* removing background from button */
    padding: 0;
    border: none;
    border-radius: 100px;
    background: none;
    margin-bottom: 10px;
}

.playerFont {
    position: relative;
    bottom: 670px;
    left: 150px;
    line-height: 200px;
    color: #601155;
    font-weight: bold;
}

.computerFont {
    position: relative;
    bottom: 670px;
    right: 150px;
    line-height: 200px;
    color: #601155;
    font-weight: bold;
}

.playerChoice > button {
    transition: all .2s ease-in-out;  
    cursor: pointer;
}

.computerChoice > button {
    transition: all .2s ease-in-out;  
}

.playerChoice > button:hover {
    transform: scale(1.1);
}

.playerChoice > button:focus {
    transform: scale(1.1);
    border: 1px solid #601155; 
    background: #601155;
    border-radius: 100px;
}


